
  
 
  
  .placeholder {
    width: 250px;
    height: 312px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .overlay {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    mix-blend-mode: color;
    z-index: 1;
  }
  
 
  