.gradient-border {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem; 
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -5px; 
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #FF8038 0%, #FF0099 30.43%, #00EBEB 68.23%, #DB00FF 100%);
  z-index: -1;
  background-size: 600% 600%;
  filter: blur(10px);
}

.gradient-border-content {
  position: relative;
  border-radius: 0.5rem;
  background-color: #2d2d2d; 
  z-index: 1;
}
